@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 240 10% 15%;
    --card: 240 67% 97%;
    --card-foreground: 240 10% 15%;
    --popover: 240 100% 99%;
    --popover-foreground: 240 10% 15%;
    --primary: 340 82% 60%;
    --primary-foreground: 340 82% 98%;
    --secondary: 240 60% 95%;
    --secondary-foreground: 240 10% 15%;
    --muted: 240 60% 97%;
    --muted-foreground: 240 5% 55%;
    --accent: 351 100% 95%;
    --accent-foreground: 351 90% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 30% 90%;
    --input: 240 30% 94%;
    --ring: 340 82% 60%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 340 82% 70%;
    --primary-foreground: 340 82% 10%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 240 5% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 340 82% 70%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
